* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 0.8px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 0.8px;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 0.6px;
  }
}
@font-face {
  font-family: Bender;
  src: url("../fonts/Jovanny Lemonad - Bender.otf");
}
@font-face {
  font-family: Bender-bold;
  src: url("../fonts/Jovanny Lemonad - Bender-Bold.otf");
}
@font-face {
  font-family: Bender-black;
  src: url("../fonts/Jovanny Lemonad - Bender-Black.otf");
}
nav {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 16%;
  display: flex;
  justify-content: space-between;
  height: 85px;
  align-items: center;
  color: white;
  background-color: #2D4275;
}
@media screen and (max-width: 960px) {
  nav {
    height: 65px;
    padding: 0 8%;
  }
  nav .nav__logo {
    height: 28px;
  }
  nav .nav__logo img {
    height: 100%;
  }
}
nav a:visited {
  color: white;
}
nav a {
  color: white;
}
nav .nav__bar {
  display: none;
}
@media screen and (max-width: 960px) {
  nav .nav_links li {
    display: none;
  }
  nav .nav__bar {
    display: block;
  }
  nav .nav__bar i {
    display: block;
    font-size: 50rem;
    cursor: pointer;
  }
}
nav .nav_links_bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100000;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: #82D8D8;
  height: 100%;
}
@media screen and (min-width: 960px) {
  nav .nav_links_bar {
    display: none;
  }
}
nav .nav_links_bar li {
  padding-top: 40rem;
  display: block;
  text-align: center;
  width: 100%;
  font-size: 40rem;
  padding: 40rem;
  margin-top: 40rem;
}
nav .nav_links_bar li:hover {
  color: #2D4275;
}
nav .hidden {
  display: none;
  transition: all 0.3s ease-out;
}
nav ul {
  display: flex;
}
nav ul li {
  margin: 0 25rem;
  font-family: Bender;
  font-weight: 700;
  font-size: 20rem;
  line-height: 24rem;
  font-style: normal;
  cursor: pointer;
}
nav ul .nav__links_selected {
  color: #02a97b;
  border-bottom: 2px solid #02a97b;
}
nav ul li:hover {
  color: #82D8D8;
  border-bottom: 2px solid #82D8D8;
  margin-bottom: -2px;
}
nav ul a:hover {
  color: #82D8D8;
}
nav .fas {
  color: white;
}
nav .logo__blue {
  display: none;
}

.sticky {
  background-color: white;
  color: #2D4275;
}
.sticky a {
  color: #2D4275;
}
.sticky a:visited {
  color: #2D4275;
}
.sticky a:hover {
  color: #82D8D8;
}
.sticky i {
  color: #2D4275;
}
.sticky .logo__white {
  display: none;
}
.sticky .logo__blue {
  display: block;
}

header {
  margin-top: -10px;
  padding-bottom: 144rem;
  color: white;
  background: url("../images/bg.svg") no-repeat;
  background-size: 100%;
  background-color: #2D4275;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vh), calc(100% - 5vh) 100%, 5vh 100%, 0 calc(100% - 5vh));
  display: flex;
}
header .Header__Mobile_Pic {
  display: none;
}
@media screen and (max-width: 1200px) {
  header {
    padding-top: 65px;
  }
}
@media screen and (max-width: 960px) {
  header {
    padding-top: 0;
    padding-bottom: 0rem;
    display: flex;
    flex-direction: column;
  }
  header .Header__Mobile_Pic {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 960px) and (max-width: 300px) {
  header .Header__Mobile_Pic {
    display: none;
  }
}
@media screen and (max-width: 960px) and (max-height: 800px) {
  header .Header__Mobile_Pic {
    display: none;
  }
}
header .header__right {
  padding-left: 16%;
  padding-right: 30%;
  padding-bottom: 100rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 960px) {
  header .header__right {
    width: 100%;
    padding: 60rem 7% 100rem 7%;
    text-align: center;
  }
}
@media screen and (max-width: 300px) {
  header .header__right {
    flex-grow: 1;
  }
}
@media screen and (max-height: 800px) {
  header .header__right {
    padding: 50rem 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }
}
header .header__right h1 {
  margin-top: 124rem;
  font-family: Bender-bold;
  font-weight: bold;
  font-size: 54rem;
  line-height: 72rem;
  color: #82D8D8;
}
@media screen and (max-width: 960px) {
  header .header__right h1 {
    color: #82D8D8;
  }
}
@media screen and (max-width: 960px) {
  header .header__right h1 {
    margin-top: 10rem;
  }
}
header .header__right h2 {
  padding-top: 28rem;
  font-family: Bender-bold;
  font-weight: bold;
  font-size: 32rem;
  line-height: 48rem;
}
header .header__right h3 {
  padding-top: 23rem;
  font-family: Bender;
  font-weight: 400;
  font-size: 24rem;
  line-height: 40rem;
}
header .header__inp {
  padding-top: 37px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 500px) {
  header .header__inp {
    padding-top: 10px;
  }
}
header .header__inp .header__inp_Box {
  display: inline-block;
  display: none;
  align-self: center;
  position: relative;
  width: 395rem;
  height: 67rem;
  box-sizing: border-box;
  background: #D3EDED;
  clip-path: polygon(2% 0%, 98% 0%, 100% 10%, 100% 90%, 98% 100%, 2% 100%, 0% 90%, 0% 10%);
}
@media screen and (max-width: 960px) {
  header .header__inp .header__inp_Box {
    display: none;
  }
}
header .header__inp input {
  outline: none;
  border: none;
  top: 1rem;
  left: 1rem;
  position: absolute;
  width: 392rem;
  padding-left: 16rem;
  height: 64rem;
  font-family: Bender;
  font-weight: 400;
  font-weight: normal;
  font-size: 24rem;
  line-height: 40rem;
  clip-path: polygon(2% 0%, 98% 0%, 100% 10%, 100% 90%, 98% 100%, 2% 100%, 0% 90%, 0% 10%);
}
@media screen and (max-width: 960px) {
  header .header__inp input {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  header .header__inp input {
    width: 70%;
  }
}
header .header__inp button {
  z-index: 1;
  position: relative;
  width: 216rem;
  height: 64rem;
  font-size: 20rem;
  line-height: 34rem;
  font-family: Bender-bold;
  border: none;
  background-color: #82D8D8;
  z-index: 100;
  clip-path: polygon(2% 0%, 98% 0%, 100% 10%, 100% 90%, 98% 100%, 2% 100%, 0% 90%, 0% 10%);
  cursor: pointer;
}
header .header__inp button a {
  text-decoration: none;
}
header .header__inp button a:visited {
  color: black;
}
@media screen and (max-width: 280px) {
  header .header__inp button {
    margin-bottom: 30rem;
  }
}
header .header__inp button::after {
  content: "";
  position: absolute;
  z-index: -100;
  top: -8rem;
  left: 0;
  width: 216rem;
  height: 62rem;
  background-color: #82D8D8;
  clip-path: polygon(2% 0%, 98% 0%, 100% 10%, 100% 90%, 98% 100%, 2% 100%, 0% 90%, 0% 10%);
  cursor: pointer;
}
header .header__inp button:hover {
  opacity: 0.8;
}
@media screen and (max-width: 960px) {
  header .header__inp {
    display: block;
  }
  header .header__inp button {
    margin-top: 20rem;
  }
}
header .header__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 960px) {
  header .header__left {
    margin: 0 auto;
    display: none;
  }
}
header .header__left img {
  margin-top: 60rem;
  width: 100%;
}

main .description {
  padding: 216rem 295rem;
  font-family: Bender-bold;
  display: flex;
  justify-content: space-around;
}
main .description h1 {
  font-size: 44rem;
  color: #02a97b;
}
main .description p {
  font-size: 24rem;
}
@media screen and (max-width: 1400px) {
  main .description {
    display: flex;
    padding: 216rem 150rem;
  }
}
@media screen and (max-width: 600px) {
  main .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 216rem 0;
  }
}
main .description .description__item {
  width: 20vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (max-width: 600px) {
  main .description .description__item {
    width: 70%;
    padding: 50rem 0;
  }
}
main .description .description__item .description__item_logo {
  height: 240rem;
  background-color: #f0f8fa;
  clip-path: polygon(30rem 0%, calc(100% - 30rem) 0%, 100% 30rem, 100% calc(100% - 30rem), 100% 100%, 0 100%, 0% calc(100% - 30rem), 0% 30rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
main .description .description__item .description__item_logo img {
  height: 46%;
}
main .description .description__item .description__item_text {
  margin-top: 48rem;
}
main .description .description__item .description__item_text p {
  margin-top: 24rem;
  line-height: 40rem;
}
main .team {
  background-color: #F0F8FA;
  clip-path: polygon(50rem 0%, calc(100% - 50rem) 0%, 100% 50rem, 100% 100%, calc(100% - 50rem) 100%, 50rem 100%, 0% 100%, 0 50rem);
}
main .team h1 {
  padding-top: 176rem;
  font-family: Bender-bold;
  font-size: 54rem;
  text-align: center;
  color: #2d4275;
}
main .team h2 {
  font-family: Bender-bold;
  font-size: 24rem;
  color: #1f2d50;
}
main .team h3 {
  font-family: Bender;
  font-size: 18rem;
  color: #02a97b;
}
main .team .team__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .team .team__wrapper .team__item {
  background-color: white;
  clip-path: polygon(30rem 0%, calc(100% - 30rem) 0%, 100% 0, 100% calc(100% - 30rem), calc(100% - 30rem) 100%, 30rem 100%, 0% calc(100% - 30rem), 0 0);
  width: 272rem;
  height: 360rem;
  text-align: center;
  margin: 0 20rem;
}
main .team .team__wrapper .team__item h2 {
  text-transform: uppercase;
}
main .team .team__wrapper .team__item img {
  height: 130rem;
  margin: 64rem 0 24rem 0;
  border-radius: 50%;
}
main .team .team__wrapper .team__wrapper_top {
  display: flex;
  margin-top: 88rem;
}
@media screen and (max-width: 400px) {
  main .team .team__wrapper .team__wrapper_top {
    display: grid;
    grid-template-columns: 1fr;
  }
  main .team .team__wrapper .team__wrapper_top .team__item {
    margin-top: 50rem;
  }
}
main .team .team__wrapper .team__wrapper_bottom {
  display: flex;
  justify-content: space-around;
  margin-top: 40rem;
  margin-bottom: 184rem;
}
@media screen and (max-width: 860px) {
  main .team .team__wrapper .team__wrapper_bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main .team .team__wrapper .team__wrapper_bottom .team__item {
    margin-top: 50rem;
  }
}
@media screen and (max-width: 400px) {
  main .team .team__wrapper .team__wrapper_bottom {
    display: grid;
    grid-template-columns: 1fr;
  }
}
main .advisory h1 {
  padding-top: 176rem;
  font-family: Bender-bold;
  font-size: 54rem;
  text-align: center;
  color: #2d4275;
}
main .advisory h2 {
  font-family: Bender-bold;
  font-size: 24rem;
  color: #1f2d50;
}
main .advisory h3 {
  font-family: Bender;
  font-size: 18rem;
  color: #02a97b;
}
main .advisory .advisory__wrapper {
  padding: 0 296rem;
  margin-top: 86rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding-bottom: 176rem;
}
@media screen and (max-width: 860px) {
  main .advisory .advisory__wrapper {
    grid-template-columns: 1fr 1fr;
    padding: 0 296rem;
  }
}
@media screen and (max-width: 400px) {
  main .advisory .advisory__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
main .advisory .advisory__wrapper .advisory__item {
  clip-path: polygon(30rem 0%, calc(100% - 30rem) 0%, 100% 0, 100% calc(100% - 30rem), calc(100% - 30rem) 100%, 30rem 100%, 0% calc(100% - 30rem), 0 0);
  width: 277rem;
  height: 365rem;
  text-align: center;
  margin: 20rem 20rem;
  position: relative;
  background-color: #DBE8EB;
}
main .advisory .advisory__wrapper .advisory__item img {
  height: 130rem;
  margin-top: 64rem;
  border-radius: 50%;
}
main .advisory .advisory__wrapper .advisory__item h2 {
  text-transform: uppercase;
  margin-top: 27rem;
}
main .advisory .advisory__wrapper .advisory__item h3 {
  margin-top: 6rem;
}
main .advisory .advisory__wrapper .advisory__item::after, main .advisory .advisory__wrapper .advisory__item::before {
  content: "";
  position: absolute;
  left: 2rem;
  top: 2rem;
  width: 273rem;
  height: 361rem;
  clip-path: polygon(29rem 0%, calc(100% - 29rem) 0%, 100% 0, 100% calc(100% - 29rem), calc(100% - 29rem) 100%, 29rem 100%, 0% calc(100% - 29rem), 0 0);
  text-align: center;
  background-color: white;
  z-index: -1;
}

footer {
  padding: 131rem 0 0 0;
  background-color: #2D4275;
  clip-path: polygon(40rem 0%, calc(100% - 40rem) 0%, 100% 40rem, 100% 100%, 70% 100%, 30% 100%, 0% 100%, 0 40rem);
  font-family: Bender;
  font-weight: 400;
  font-size: 18rem;
  line-height: 32rem;
  color: white;
}
@media screen and (max-width: 960px) {
  footer {
    padding: 30rem 0 0 0;
  }
}
footer a:visited {
  color: white;
}
footer a {
  color: white;
}
footer a:hover {
  color: #82D8D8;
}
footer li {
  cursor: pointer;
}
footer section {
  padding: 0 296rem;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  footer section {
    padding: 0 150rem;
  }
}
@media screen and (max-width: 960px) {
  footer section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 10rem 0;
  }
  footer section .footer__item1 {
    display: none;
  }
  footer section .footer__item3 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
footer .footer__item1 {
  font-weight: 700;
}
footer .footer__item1 img {
  margin-bottom: 42rem;
  margin-top: 8rem;
}
footer .footer__item1 p {
  margin-bottom: 18rem;
  font-family: Bender;
  font-size: 18rem;
  font-weight: 700;
}
footer .footer__item {
  font-family: Bender;
  font-size: 18rem;
}
footer .footer__item h2 {
  text-transform: uppercase;
  font-family: Bender;
  font-style: normal;
  font-weight: bold;
  font-size: 24rem;
  line-height: 40rem;
}
footer .footer__item2 {
  font-weight: 400;
  font-size: 18rem;
  line-height: 32rem;
}
footer .footer__item2 h2 {
  margin-bottom: 30rem;
}
footer .footer__item2 li {
  margin-bottom: 16rem;
}
@media screen and (max-width: 960px) {
  footer .footer__item2_1 {
    padding-left: 350rem;
  }
}
@media screen and (max-width: 768px) {
  footer .footer__item2_1 {
    padding-left: 200rem;
  }
}
@media screen and (max-width: 568px) {
  footer .footer__item2_1 {
    padding-left: 0;
  }
}
@media screen and (max-width: 960px) {
  footer .footer__item2_2 {
    padding-right: 350rem;
  }
}
@media screen and (max-width: 768px) {
  footer .footer__item2_2 {
    padding-right: 100rem;
  }
}
@media screen and (max-width: 568px) {
  footer .footer__item2_2 {
    padding-right: 0;
  }
}
footer .footer__item3 h2 {
  margin: 0 0 23rem 0;
}
footer .footer__item3 .li__socials {
  margin-bottom: 5rem;
}
@media screen and (max-width: 960px) {
  footer .footer__item3 {
    margin-top: 20rem;
  }
}
footer .footer__item3 .footer__socials {
  display: flex;
  margin-bottom: 0;
}
@media screen and (max-width: 960px) {
  footer .footer__item3 .footer__socials {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  footer .footer__item3 .footer__socials img {
    height: 100%;
  }
}
@media screen and (max-width: 1200px) {
  footer .footer__item3 .footer__socials img {
    height: 19.2px;
  }
}
@media screen and (max-width: 960px) {
  footer .footer__item3 .footer__socials img {
    height: 100%;
  }
}
@media screen and (max-width: 360px) {
  footer .footer__item3 .footer__socials img {
    height: 20px;
  }
}
footer .footer__item3 .footer__socials li {
  margin-right: 16rem;
  margin-bottom: 0;
}
@media screen and (max-width: 960px) {
  footer .footer__item3 .footer__socials li {
    padding: 0;
  }
}
@media screen and (max-width: 960px) {
  footer .footer__item3 .li__grid {
    display: flex;
    justify-content: center;
    margin: 25rem 0 0 0;
  }
  footer .footer__item3 .li__grid li {
    margin: 0 25rem;
  }
}
footer .footer__item3 li {
  margin-bottom: 16rem;
}
footer .footer__borderline {
  margin: 0 auto;
  margin-top: 95rem;
  width: 80%;
  height: 0.5px;
  border: 0.25px solid rgba(255, 255, 255, 0.14);
}
@media screen and (max-width: 960px) {
  footer .footer__borderline {
    margin-top: 40rem;
  }
}
footer .footer__down {
  padding: 0;
  display: block;
  padding: 20rem 0;
  text-align: center;
}
@media screen and (max-width: 960px) {
  footer .footer__down {
    margin: 0;
  }
}