@import 'main.scss';
@import 'nav.scss';
@import 'footer.scss';

@media screen and (max-width: 1400px) {
    html {
        font-size: 0.8px;
    }
}
@media screen and (max-width: 1200px) {
    html {
        font-size: 0.6px;
    }
}

header {
    margin-top: 20px;
    padding-bottom: 144rem;
    color: white;
    //clip-path: polygon(40rem 0%, calc(100% - 40rem) 0%, 100% 40rem, 100% 100%, 70% 100%, 30% 100%, 0% 100%, 0 40rem);    
    .Header__Mobile_Pic{
        display: none;
    }
    background: url('../images/bg.svg') no-repeat;
    background-size: 100%;
    background-position: 0 60%;

    background-color: #2D4275;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 40rem) , calc(100% - 40rem) 100%, 40rem 100%, 0 calc(100% - 40rem));
    display: flex;
    
    @media screen and (max-width: 960px) {
        padding-top: 20rem;
        padding-bottom: 100rem;
        display: flex;
        flex-direction: column;
        height: calc(100vh + 10px);

    }
    .header__right{
        padding-left: 16%;
        padding-right: 30%;
        width: 100%;

        
        @media screen and (max-width: 960px) {
            width: 100%;
            padding: 90px 7% 0 7%;
            text-align: center;
        }

        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            margin-top: 124rem;
            font-family: $Orbitron;
            font-weight: bold;
            font-size: 54rem;
            line-height: 72rem;
            color: #82D8D8;        
            @media screen and (max-width: 960px) {
                color: #82D8D8;        
            }
            @media screen and (max-width: 960px) {
                margin-top: 10rem;
            }
        }
        h2 {
            padding-top: 28rem;
            font-family: $Orbitron;
            font-weight: bold;
            font-size: 32rem;
            line-height: 48rem;
        }
        h3 {
            padding-top: 23rem;
            font-family: $Orbitron;
            font-weight: 400;
            font-size: 24rem;
            line-height: 40rem;
        }
    }
  
    .email_span{
        cursor: pointer;
        color: rgba(130, 216, 216, 1)  ;
    }
    .email_span:hover {
        opacity: 0.8;
    }
}

main{
    .main__section{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 170rem 0;
        .main__wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-family: $Orbitron;
            @media screen and (max-width:600px){
                width: 80%;
            }
            
            label{
                color: rgba(31, 45, 80, 1);
                font-size: 22rem;
                text-align: left;
                margin-bottom: 4rem;
            }
            input {
                z-index: 10;
                outline: none;
                border: none;
                font-family: $Orbitron;
                padding-left: 20rem;
                font-size: 22rem;
                height: 64rem;
                width: 600rem;
                margin-bottom: 36rem;
                //border: 1px solid #C1DADA;
                background-color: white;
                clip-path: polygon(10rem 0%, calc(100% - 10rem) 0%,
                100% 10rem, 100% calc(100% - 10rem), calc(100% - 10rem) 
                100%, 10rem 100%, 0% calc(100% - 10rem), 0% 10rem);
                @media screen and (max-width:600px){
                    width: 100%;
                }
            }
            .inputBox{
                position: relative;
            }
            .inputBox::after {
                content: '';
                position: absolute;
                top: -1rem;
                left: -1rem;
                height: 66rem;
                width: 603rem;
                background-color:#C1DADA;
                z-index: -1;
                clip-path: polygon(11rem 0%, calc(100% - 11rem) 0%,
                100% 11rem, 100% calc(100% - 11rem), 
                calc(100% - 11rem) 100%, 11rem 100%, 
                0% calc(100% - 11rem), 0% 11rem);
                @media screen and (max-width:600px){
                    width: calc(100% + 3rem);
                }

            }
            .main__wrapper_buttonBox{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            button {
                text-transform: uppercase;
                position: relative;
                margin-top: 52px;
                width: 216rem;
                height: 62rem;
                font-size: 21rem;
                line-height: 34rem;
                font-family: $Orbitron;
                border: none;
                background-color: #82D8D8;
                background: linear-gradient(80.73deg, #ECF6F6 28.72%, #CDEAEA 92.95%);
                z-index: 1;
                clip-path: polygon(2% 0%, 98% 0%, 100% 10%, 100% 90%, 98% 100%, 2% 100%, 0% 90%, 0% 10%);        
                cursor: pointer;
                padding-bottom: 8rem;;
            }
            button::after  {
                content: '';
                position: absolute;
                z-index: -100;
                top: -8rem;
                left: 0;
                width: 216rem;
                height: 62rem;
                background-color: #82D8D8;
                clip-path: polygon(2% 0%, 98% 0%, 100% 10%, 100% 90%, 98% 100%, 2% 100%, 0% 90%, 0% 10%);        
                cursor: pointer;
            }
            button:hover {
                opacity: 0.8;
            }
        }
    }
}

.passive_sec{
    display: none;
}