footer {
    padding: 131rem 0 0 0;
    @media screen and (max-width:960px){
        padding: 30rem 0 0 0 ;
    }
    background-color: #2D4275;
    clip-path: polygon(40rem 0%, calc(100% - 40rem) 0%, 100% 40rem, 100% 100%, 70% 100%, 30% 100%, 0% 100%, 0 40rem);    
    font-family: $Orbitron;
    font-weight: 400;
    font-size: 18rem;
    line-height: 32rem;
    color: rgba(255, 255, 255, 1);
    a{
        color: rgba(255, 255, 255, 1);
    }
    a:visited{
        color: rgba(255, 255, 255, 1);
    }
    a:hover{
        color: #82D8D8;        
        ;
    } 
    li {
        cursor: pointer;
    }
    section {
        padding: 0 296rem ;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width:1200px){
            padding: 0 150rem;
        }
        @media screen and (max-width:960px){
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            text-align: center;
            padding: 0;
            margin: 10rem 0;
            .footer__item1{
                display: none;
            }
            .footer__item3 {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }

    }
    .footer__item1 {

        font-weight: 700;
        img {
            height: 38px;
            margin-bottom: 42rem;
            margin-top: 8rem;
        }
        p {
            margin-bottom: 18rem;
            font-family: $Orbitron;
            font-size: 18rem;
            font-weight: 700;
        }
    }
    .footer__item{
        font-family: $Orbitron;
        font-size: 18rem;
        h2 {
            text-transform: uppercase;
            font-family: $Orbitron;
            font-style: normal;
            font-weight: bold;
            font-size: 24rem;
            line-height: 40rem;
        }
    }
    .footer__item2 {
        font-weight: 400;
        font-size: 19rem;
        line-height: 32rem;
        h2 {
            margin-bottom: 30rem;
        }
        li {
            margin-bottom: 16rem;
        }

    }
    .footer__item2_1 {
        @media screen and (max-width:960px){
            padding-left: 350rem;
        }    
        @media screen and (max-width:768px){
            padding-left: 200rem;
        } 
        @media screen and (max-width:568px){
            padding-left: 0;
        }     
    }
    .footer__item2_2 {
        @media screen and (max-width:960px){
            padding-right: 350rem;
        }    
        @media screen and (max-width:768px){
            padding-right: 100rem;
        }  
        @media screen and (max-width:568px){
            padding-right: 0;
        }   
    }

    .footer__item3 {
        h2 {
            margin: 0 0 23rem 0 ; 
        }
        .li__socials{
            margin-bottom: 5rem;
        }
        @media screen and (max-width:960px){
            margin-top: 20rem;
        }
        .footer__socials{
            display: flex;
            @media screen and (max-width:960px){
                display: flex;
                justify-content: center;
                text-align: center;
                img {
                    height: 100%;
                }
            }
            @media screen and (max-width:1200px){
                img {
                    height: 19.2px;
                }
            } 
            @media screen and (max-width:960px){
                img {
                    height: 100%;
                }
            }
            
            @media screen and (max-width:360px){
                img {
                    height: 20px;
                }
            } 
   
            li{
                margin-right: 16rem;
                margin-bottom: 0;
                @media screen and (max-width:960px){
                    padding: 0;
                    
                }
    
            }
            margin-bottom: 0;

        }
        @media screen and (max-width:960px){
            .li__grid {
                display: flex;
                justify-content: center;
                margin: 25rem 0 0 0;
                li {
                    margin: 0 25rem;
                }
            }
        }
        li {
            margin-bottom: 16rem;
        }
    }
    .footer__borderline {
        margin: 0 auto;
        margin-top: 95rem;
        @media screen and (max-width:960px){
            margin-top: 40rem;
        }
        width: 80%;
        height: 0.5px;
        border: 0.25px solid  rgba(255, 255, 255, 0.14);;
    }
    .footer__down {
        padding: 0;
        display: block;
        padding: 20rem 0;
        text-align: center;
        @media screen and (max-width:960px){
            margin: 0;
        }
    }
}