*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}
html {
    font-size: 0.8px;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 1em;
}

@media screen and (max-width: 1400px) {
    html {
        font-size: 0.8px;
    }
}
@media screen and (max-width: 1200px) {
    html {
        font-size: 0.6px;
    }
}
@font-face {
    font-family: Bender;
    src: url('../fonts/Jovanny\ Lemonad\ -\ Bender.otf');
}
@font-face {
    font-family: Bender-bold;
    src: url('../fonts/Jovanny\ Lemonad\ -\ Bender-Bold.otf');
}
@font-face {
    font-family: Bender-black;
    src: url('../fonts/Jovanny\ Lemonad\ -\ Bender-Black.otf');
}


nav {
    padding: 0 16%;
    display: flex;
    justify-content: space-between;
    height: 85px;
    align-items: center;
    position: relative;
    color: white;
    background-color: #2D4275;
    @media screen and (max-width: 960px) {
        //clip-path: polygon(80rem 0%, calc(100% - 80rem) 0%, 100% 80rem, 100% calc(100% - 80rem), 100% 100%, 0 100%, 0% calc(100% - 80rem), 0% 80rem);
        height: 65px;
        padding: 0 8%;
        .nav__logo {
            height: 28px;
            img{
                height: 100%;
            }
        }
    }
    //clip-path: polygon(80rem 0%, calc(100% - 80rem) 0%, 100% 0, 100% calc(100% - 80rem), calc(100% - 80rem) 100%, 80rem 100%, 0% calc(100% - 80rem), 0 0);    display: flex;   
    a:visited {
        color: white;
    }
    .nav__bar{
        display: none;
    }
   
    @media screen and (max-width: 960px) {
        .nav_links{
            li{
                display: none;
            }
        }
        .nav__bar{
            display: block;
            i{
                display: block;
                font-size: 50rem;
                cursor: pointer;
            }
        }
    }
    
    .nav_links_bar {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 100000;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #82D8D8; 
        height: 100%; 
        @media screen and (min-width: 960px) {
            display: none;
        }
        li{
            padding-top: 40rem;
            display: block;
            text-align: center;
            width: 100%;
            font-size: 40rem;
            padding: 40rem;
            margin-top: 40rem;
        }
        li:hover{
            color: #2D4275;
        }
    }
    .hidden {
        display: none;
        transition: all 0.3s ease-out;
    }
    ul{
        display: flex;

        li{
            margin: 0 25rem ;
            font-family: Bender;
            font-weight: 700;
            font-size: 20rem;
            line-height: 24rem;
            font-style: normal;
            cursor: pointer;
        }
          
        .nav__links_selected{
            color: rgba(2, 169, 123, 1);
            border-bottom: 2px solid rgba(2, 169, 123, 1);          
        }

        li:hover {
            color: #82D8D8;        
            border-bottom: 2px solid #82D8D8;
            margin-bottom: -2px;        
        }
        a:hover {
            color: #82D8D8;        
        }
    }
    .fas {
        //color: rgba(45, 66, 117, 1);
        color:white;
    }
}
.bg__blue{
    background-color: rgba(240, 248, 250, 1);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vh) , calc(100% - 5vh) 100%, 5vh 100%, 0 calc(100% - 5vh));
}

header {
    margin-top: 0;
    padding-bottom: 144rem;
    color: white;
    //clip-path: polygon(40rem 0%, calc(100% - 40rem) 0%, 100% 40rem, 100% 100%, 70% 100%, 30% 100%, 0% 100%, 0 40rem);    
    .Header__Mobile_Pic{
        display: none;
    }
    background: url('../images/bg.svg') no-repeat;
    background-size: 100%;
    background-position: 0 60%;

    background-color: #2D4275;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vh) , calc(100% - 5vh) 100%, 5vh 100%, 0 calc(100% - 5vh));
    display: flex;
    
    @media screen and (max-width: 960px) {
        padding-top: 0;
        padding-bottom: 0rem;
        display: flex;
        flex-direction: column;
        padding-bottom: 100rem;
    }
    .header__right{
        padding-left: 16%;
        padding-right: 30%;
        width: 100%;

        
        @media screen and (max-width: 960px) {
            width: 100%;
            padding: 60rem 7% 160rem 7%;
            text-align: center;
        }
        @media screen and (max-width: 300px) {
            flex-grow: 1;
        }
        @media screen and (max-height: 800px){
            padding: 0 5% ;
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            align-items: center;
        }

        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            margin-top: 124rem;
            font-family: Bender-bold;
            font-weight: bold;
            font-size: 54rem;
            line-height: 72rem;
            color: #82D8D8;        
            @media screen and (max-width: 960px) {
                color: #82D8D8;        
            }
            @media screen and (max-width: 960px) {
                margin-top: 100rem;
            }
        }
        h2 {
            padding-top: 28rem;
            font-family: Bender-bold;
            font-weight: bold;
            font-size: 32rem;
            line-height: 48rem;
        }
        h3 {
            padding-top: 23rem;
            font-family: Bender;
            font-weight: 400;
            font-size: 24rem;
            line-height: 40rem;
        }
    }
  
    .email_span{
        cursor: pointer;
        color: rgba(130, 216, 216, 1)  ;
    }
    .email_span:hover {
        opacity: 0.8;
    }
}

main{
    display: flex;
    justify-content: center;
    background-color: rgba(240, 248, 250, 1) ;
    @media screen and (max-width: 600px) {
        padding: 0 10rem;
    }
    .main__section{
        padding: 150rem 0;
        display: flex;
        flex-direction: column;  
        @media screen and (max-width: 600px) {
        width: 80%;
        }
        button {
                position: relative;
                margin-top: 52px;
                width: 216rem;
                height: 62rem;
                font-size: 20rem;
                line-height: 34rem;
                font-family: Bender-bold;
                border: none;
                background-color: #82D8D8;
                background: linear-gradient(80.73deg, #ECF6F6 28.72%, #CDEAEA 92.95%);
                z-index: 100;
                clip-path: polygon(2% 0%, 98% 0%, 100% 10%, 100% 90%, 98% 100%, 2% 100%, 0% 90%, 0% 10%);        
                cursor: pointer;
                padding-bottom: 8rem;;
        }
        button::after  {
                content: '';
                position: absolute;
                z-index: -100;
                top: -8rem;
                left: 0;
                width: 216rem;
                height: 62rem;
                background-color: #82D8D8;
                clip-path: polygon(2% 0%, 98% 0%, 100% 10%, 100% 90%, 98% 100%, 2% 100%, 0% 90%, 0% 10%);        
                cursor: pointer;
        }
        button:hover {
            opacity: 0.8;
        }
        
        .input__wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-family: Bender-bold;
            label{
                color: rgba(31, 45, 80, 1);
                font-size: 22rem;
                text-align: left;
                margin-bottom: 4rem;
            }

            input {
                z-index: 10;
                position: relative;
                outline: none;
                border: none;
                font-family: Bender;
                padding-left: 20rem;
                font-size: 22rem;
                height: 64rem;
                width: 600rem;
                margin-bottom: 36rem;
                background-color: white;
                clip-path: polygon(10rem 0%, calc(100% - 10rem) 0%, 100% 10rem, 100% calc(100% - 10rem), calc(100% - 10rem) 100%, 10rem 100%, 0% calc(100% - 10rem), 0% 10rem);
                @media screen and (max-width: 600px) {
                    width: 100%;
                }
            }
            .inpup__wrapper_box{
                position: relative;
            }
            .inpup__wrapper_box::after {
                content: '';
                position: absolute;
                top: -1rem;
                left: -1rem;
                height: 66rem;
                width: 602rem;
                background-color:#C1DADA;
                z-index: 1;
                clip-path: polygon(11rem 0%, calc(100% - 11rem) 0%, 100% 11rem, 100% calc(100% - 11rem), calc(100% - 11rem) 100%, 11rem 100%, 0% calc(100% - 11rem), 0% 11rem);
                
                @media screen and (max-width: 600px) {
                    width: calc(100% + 3rem);
                }
 
            }
            select {
                z-index: 10;
                cursor: pointer;
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                outline: none;
                border: none;
                font-family: Bender;
                padding-left: 20rem;
                font-size: 22rem;
                height: 64rem;
                width: 600rem;
                margin-bottom: 36rem;
                border-radius: 5px;
                background: url('../images/select_bg.svg') no-repeat ;
                background-size: 15rem;
                background-position: 95% 50%;
                background-color: white;
                clip-path: polygon(10rem 0%, calc(100% - 10rem) 0%, 100% 10rem, 100% calc(100% - 10rem), calc(100% - 10rem) 100%, 10rem 100%, 0% calc(100% - 10rem), 0% 10rem);
                @media screen and (max-width: 600px) {
                    width: 100%;
                }
            }
            .select__wrapper_box{
                position: relative;
            }
            .select__wrapper_box::after{
                content: '';
                position: absolute;
                top: -1rem;
                left: -1rem;
                height: 66rem;
                width: 602rem;
                z-index: -1;
                clip-path: polygon(12rem 0%, calc(100% - 12rem) 0%, 100% 12rem, 100% calc(100% - 12rem),
                calc(100% - 12rem) 100%, 12rem 100%, 0% calc(100% - 12rem), 0% 12rem);
                background-color: blue;

                @media screen and (max-width: 600px) {
                    width: calc(100% + 3rem);
                }

            }
        }
        .checkbox__wrapper{
            font-family: Bender;
            font-size: 22rem;
            color: rgba(31, 45, 80, 1);

            textarea{
                margin: 40rem 40rem;
                padding: 20rem 50rem;
                width: 500rem;
                height: 300rem;
                z-index: 10;
                position: relative;
                outline: none;
                border: none;
                font-family: Bender;
                font-size: 22rem;
                margin-bottom: 36rem;
                background-color: white;
                clip-path: polygon(10rem 0%, calc(100% - 10rem) 0%, 100% 10rem, 100% calc(100% - 10rem), calc(100% - 10rem) 100%, 10rem 100%, 0% calc(100% - 10rem), 0% 10rem);
                @media screen and (max-width: 600px) {
                    width: 250rem;
                    height: 250rem;
                }
            }

            .checkbox__line{
                margin-top: 10rem;
                height:0.1px;
                width: 100%;
                border: solid 0.5px  #C1DADA;
            }
            .checkbox__line_2{
                margin: 50rem 0;
            }
            .activities_label{
                font-size: 22rem;
                text-align: left;
                font-family: Bender-bold;
                color: rgba(31, 45, 80, 1);
            }
            .activities_notice{
                margin-top: 3rem;
            }
            .checkbox__wrapper_item{
                margin-top: 32rem;
                display: flex;
                justify-content: right;
                align-items: center;
                p{
                    margin-left: 15rem;
                }
                .checkbox__wrapper_item_box{

                    input[type="checkbox"]:checked, 
                    input[type="checkbox"]:not(:checked) 
                    {
                        position: absolute;
                        left: -9999px;
                    }
                
                    input[type="checkbox"]:checked + label, 
                    input[type="checkbox"]:not(:checked) + label, 
                    input[type="radio"]:checked + label, 
                    input[type="radio"]:not(:checked) + label {
                        display: inline-block;
                        position: relative;
                        cursor: pointer;
                        background-color: #82D8D8;
                        z-index: 10;
                        width: 35rem;
                        height: 35rem;                
                        clip-path: polygon(5rem 0, calc(100% - 5rem) 0, 100% 5rem, 100% calc(100% - 5rem),
                        calc(100% - 5rem) 100%, 5rem 100%, 0 calc(100% - 5rem), 0 5rem);
                    }
                
                    input[type="checkbox"]:checked + label:before, 
                    input[type="checkbox"]:not(:checked) + label:before{
                        content: "";
                        position: absolute;
                        left: 1px;
                        top: 1px;
                        width: 32rem;
                        height: 32rem;
                        clip-path: polygon(4rem 0, calc(100% - 4rem) 0, 100% 4rem, 100% calc(100% - 4rem),
                        calc(100% - 4rem) 100%, 4rem 100%, 0 calc(100% - 4rem), 0 4rem);
                        background-color: white;
                        z-index: -1;
                    }
                
                    
                    input[type="checkbox"]:checked + label:after, 
                    input[type="checkbox"]:not(:checked) + label:after {
                        content: "";
                        position: absolute;
                    }
                
                    input[type="checkbox"]:checked + label:after, 
                    input[type="checkbox"]:not(:checked) + label:after {
                        left: 7rem;
                        top: 7rem;
                        width: 10px;
                        height: 10rem;
                        border-radius: 1px;
                        border-left: 6rem solid blue;
                        border-bottom: 6rem solid blue;
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }
                   
                    input[type="checkbox"]:not(:checked) + label:after, 
                    input[type="radio"]:not(:checked) + label:after {
                        opacity: 0;
                    }
                
                    input[type="checkbox"]:checked + label:after, 
                    input[type="radio"]:checked + label:after {
                        opacity: 1;
                        background-color: white;
                        color: white;               
                    }
                }
            }
        }
        .input__wrapper_2{
            margin-top: 36rem;
        }

        .main__section_buttonBox{
            display: flex;
            justify-content: center;
        }
    }
}

.bg__white {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        color: rgba(45, 66, 117, 1);
        font-size: 54rem;
        text-align: center;
        margin-top: 176rem;
        font-family: Bender-bold;
        text-transform: uppercase;
    }
    .bg__white_buttonBox{
        margin-top: 54rem;
        margin-bottom: 178rem;
        display: flex;
        justify-content: center;
        button {
            position: relative;
            margin-top: 52px;
            width: 216rem;
            height: 62rem;
            font-size: 20rem;
            line-height: 34rem;
            font-family: Bender-bold;
            border: none;
            background-color: #82D8D8;
            background: linear-gradient(80.73deg, #ECF6F6 28.72%, #CDEAEA 92.95%);
            z-index: 100;
            clip-path: polygon(2% 0%, 98% 0%, 100% 10%, 100% 90%, 98% 100%, 2% 100%, 0% 90%, 0% 10%);        
            cursor: pointer;
            padding-bottom: 8rem;;
        }
        button::after  {
            content: '';
            position: absolute;
            z-index: -100;
            top: -8rem;
            left: 0;
            width: 216rem;
            height: 62rem;
            background-color: #82D8D8;
            clip-path: polygon(2% 0%, 98% 0%, 100% 10%, 100% 90%, 98% 100%, 2% 100%, 0% 90%, 0% 10%);        
            cursor: pointer;
        }
        button:hover {
            opacity: 0.8;
        }
    }   
}

footer {
    padding: 131rem 0 0 0;
    @media screen and (max-width:960px){
        padding: 30rem 0 0 0 ;
    }
    background-color: #2D4275;
    clip-path: polygon(40rem 0%, calc(100% - 40rem) 0%, 100% 40rem, 100% 100%, 70% 100%, 30% 100%, 0% 100%, 0 40rem);    
    font-family: Bender;
    font-weight: 400;
    font-size: 18rem;
    line-height: 32rem;
    color: rgba(255, 255, 255, 1);
    li {
        cursor: pointer;
    }
    section {
        padding: 0 296rem ;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width:1200px){
            padding: 0 150rem;
        }
        @media screen and (max-width:960px){
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            text-align: center;
            padding: 0;
            margin: 10rem 0;
            .footer__item1{
                display: none;
            }
            .footer__item3 {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }

    }
    .footer__item1 {
        font-weight: 700;
        img {
            margin-bottom: 42rem;
            margin-top: 8rem;
        }
        p {
            margin-bottom: 18rem;
            font-family: Bender;
            font-size: 18rem;
            font-weight: 700;
        }
    }
    .footer__item{
        font-family: Bender;
        font-size: 18rem;
        h2 {
            text-transform: uppercase;
            font-family: Bender;
            font-style: normal;
            font-weight: bold;
            font-size: 24rem;
            line-height: 40rem;
        }
    }
    .footer__item2 {
        font-weight: 400;
        font-size: 18rem;
        line-height: 32rem;
        h2 {
            margin-bottom: 30rem;
        }
        li {
            margin-bottom: 16rem;
        }

    }
    .footer__item2_1 {
        @media screen and (max-width:960px){
            padding-left: 350rem;
        }    
        @media screen and (max-width:768px){
            padding-left: 200rem;
        } 
        @media screen and (max-width:568px){
            padding-left: 0;
        }     
    }
    .footer__item2_2 {
        @media screen and (max-width:960px){
            padding-right: 350rem;
        }    
        @media screen and (max-width:768px){
            padding-right: 100rem;
        }  
        @media screen and (max-width:568px){
            padding-right: 0;
        }   
    }

    .footer__item3 {
        h2 {
            margin: 0 0 23rem 0 ; 
        }
        .li__socials{
            margin-bottom: 5rem;
        }
        @media screen and (max-width:960px){
            margin-top: 20rem;
        }
        .footer__socials{
            display: flex;
            @media screen and (max-width:960px){
                display: flex;
                justify-content: center;
                text-align: center;
                img {
                    height: 100%;
                }
            }
            @media screen and (max-width:1200px){
                img {
                    height: 19.2px;
                }
            } 
            @media screen and (max-width:960px){
                img {
                    height: 100%;
                }
            }
            
            @media screen and (max-width:360px){
                img {
                    height: 20px;
                }
            } 
   
            li{
                margin-right: 16rem;
                margin-bottom: 0;
                @media screen and (max-width:960px){
                    padding: 0;
                    
                }
    
            }
            margin-bottom: 0;

        }
        @media screen and (max-width:960px){
            .li__grid {
                display: flex;
                justify-content: center;
                margin: 25rem 0 0 0;
                li {
                    margin: 0 25rem;
                }
            }
        }
        li {
            margin-bottom: 16rem;
        }
    }
    .footer__borderline {
        margin: 0 auto;
        margin-top: 95rem;
        @media screen and (max-width:960px){
            margin-top: 40rem;
        }
        width: 80%;
        height: 0.5px;
        border: 0.25px solid  rgba(255, 255, 255, 0.14);;
    }
    .footer__down {
        padding: 0;
        display: block;
        padding: 20rem 0;
        text-align: center;
        @media screen and (max-width:960px){
            margin: 0;
        }
    }
}