*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}
html {
    font-size: 0.8px;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 1em;
}

@media screen and (max-width: 1400px) {
    html {
        font-size: 0.8px;
    }
}
@media screen and (max-width: 1200px) {
    html {
        font-size: 0.6px;
    }
}
@font-face {
    font-family: Bender;
    src: url('../fonts/Jovanny\ Lemonad\ -\ Bender.otf');
}
@font-face {
    font-family: Bender-bold;
    src: url('../fonts/Jovanny\ Lemonad\ -\ Bender-Bold.otf');
}
@font-face {
    font-family: Bender-black;
    src: url('../fonts/Jovanny\ Lemonad\ -\ Bender-Black.otf');
}


nav {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 16%;
    display: flex;
    justify-content: space-between;
    height: 85px;
    align-items: center;
    color: white;
    background-color: #2D4275;
    @media screen and (max-width: 960px) {
        //clip-path: polygon(80rem 0%, calc(100% - 80rem) 0%, 100% 80rem, 100% calc(100% - 80rem), 100% 100%, 0 100%, 0% calc(100% - 80rem), 0% 80rem);
        height: 65px;
        padding: 0 8%;
        .nav__logo {
            height: 28px;
            img{
                height: 100%;
            }
        }
    }
    //clip-path: polygon(80rem 0%, calc(100% - 80rem) 0%, 100% 0, 100% calc(100% - 80rem), calc(100% - 80rem) 100%, 80rem 100%, 0% calc(100% - 80rem), 0 0);    display: flex;   
    a:visited {
        color: white;
    }
    a{
        color: white;
    }
    .nav__bar{
        display: none;
    }
   
    @media screen and (max-width: 960px) {
        .nav_links{
            li{
                display: none;
            }
        }
        .nav__bar{
            display: block;
            i{
                display: block;
                font-size: 50rem;
                cursor: pointer;
            }
        }
    }
    
    .nav_links_bar {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 100000;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #82D8D8; 
        height: 100%; 
        @media screen and (min-width: 960px) {
            display: none;
        }
        li{
            padding-top: 40rem;
            display: block;
            text-align: center;
            width: 100%;
            font-size: 40rem;
            padding: 40rem;
            margin-top: 40rem;
        }
        li:hover{
            color: #2D4275;
        }
    }
    .hidden {
        display: none;
        transition: all 0.3s ease-out;
    }
    ul{
        display: flex;

        li{
            margin: 0 25rem ;
            font-family: Bender;
            font-weight: 700;
            font-size: 20rem;
            line-height: 24rem;
            font-style: normal;
            cursor: pointer;
        }
          
        .nav__links_selected{
            color: rgba(2, 169, 123, 1);
            border-bottom: 2px solid rgba(2, 169, 123, 1);          
        }

        li:hover {
            color: #82D8D8;        
            border-bottom: 2px solid #82D8D8;
            margin-bottom: -2px;        
        }
        a:hover {
            color: #82D8D8;        
        }
    }
    .fas {
        //color: rgba(45, 66, 117, 1);
        color:white;
    }

    .logo__blue {
        display: none;
    }
}

.sticky {
    background-color: white;
    color: #2D4275 ;
    a{
        color: #2D4275 ;
    }
    a:visited {
        color: #2D4275 ;
    }
    a:hover{
        color: #82D8D8;        
    }
    i{
        color: #2D4275 ;
    }
    .logo__white{
        display: none;
    }
    .logo__blue {
        display: block;
    }
}


header {
    margin-top: -10px;
    padding-bottom: 144rem;
    color: white;
    //clip-path: polygon(40rem 0%, calc(100% - 40rem) 0%, 100% 40rem, 100% 100%, 70% 100%, 30% 100%, 0% 100%, 0 40rem);    
    .Header__Mobile_Pic{
        display: none;
    }
    background: url('../images/bg.svg') no-repeat;
    background-size: 100%;

    background-color: #2D4275;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vh) , calc(100% - 5vh) 100%, 5vh 100%, 0 calc(100% - 5vh));
    display: flex;
    @media screen and (max-width: 1200px){
        padding-top: 65px;
    }
   
    @media screen and (max-width: 960px) {
        padding-top: 0;
        padding-bottom: 0rem;
        display: flex;
        flex-direction: column;
        .Header__Mobile_Pic{
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;         
            @media screen and (max-width: 300px) {
                display: none;
            }
            @media screen and (max-height: 800px){
                display: none;
            }
      }
    }
    .header__right{
        padding-left: 16%;
        padding-right: 30%;
        padding-bottom: 100rem;
        width: 100%;
        @media screen and (max-width: 1200px) {
            
        }
        @media screen and (max-width: 960px) {
            width: 100%;
            padding: 60rem 7% 100rem 7%;
            text-align: center;
        }
        @media screen and (max-width: 300px) {
            flex-grow: 1;
        }
        @media screen and (max-height: 800px){
            padding: 50rem 5%  ;
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            align-items: center;
        }

        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            margin-top: 124rem;
            font-family: Bender-bold;
            font-weight: bold;
            font-size: 54rem;
            line-height: 72rem;
            color: #82D8D8;        
            @media screen and (max-width: 960px) {
                color: #82D8D8;        
            }
            @media screen and (max-width: 960px) {
                margin-top: 10rem;
            }
        }
        h2 {
            padding-top: 28rem;
            font-family: Bender-bold;
            font-weight: bold;
            font-size: 32rem;
            line-height: 48rem;
        }
        h3 {
            padding-top: 23rem;
            font-family: Bender;
            font-weight: 400;
            font-size: 24rem;
            line-height: 40rem;
        }
    }
    .header__inp {
        padding-top: 37px;
        display: flex;
        align-items: center;
        
        @media screen and (max-width: 500px) {
            padding-top: 10px;
        }
        .header__inp_Box{
            display: inline-block;
            display: none;
            align-self: center;
            position: relative;
            width: 395rem;
            height: 67rem;
            box-sizing: border-box;
            background: #D3EDED;
            clip-path: polygon(2% 0%, 98% 0%, 100% 10%, 100% 90%, 98% 100%, 2% 100%, 0% 90%, 0% 10%);        
            @media screen and (max-width: 960px) {
                display: none;
            }

        }
        input {
            outline: none;
            border: none;
            top: 1rem;
            left: 1rem;
            position: absolute;
            width: 392rem;
            padding-left: 16rem;
            height: 64rem;
            font-family: Bender;
            font-weight: 400;
            font-weight: normal;
            font-size: 24rem;
            line-height: 40rem;
            clip-path: polygon(2% 0%, 98% 0%, 100% 10%, 100% 90%, 98% 100%, 2% 100%, 0% 90%, 0% 10%);        
            @media screen and (max-width: 960px) {
                display: none;
            }
            @media screen and (max-width: 400px) {
                width: 70%;
            }
        }
        
        button { 
            z-index: 1
            ;
            position: relative;
            width: 216rem;
            height: 64rem;
            font-size: 20rem;
            line-height: 34rem;
            font-family: Bender-bold;
            border: none;
            background-color: #82D8D8;
            z-index: 100;
            clip-path: polygon(2% 0%, 98% 0%, 100% 10%, 100% 90%, 98% 100%, 2% 100%, 0% 90%, 0% 10%);
            cursor: pointer;
            a{
                text-decoration: none;
            }
            a:visited{
                color: black;
            }
            @media screen and (max-width: 280px) {
                margin-bottom: 30rem;
            }

        }
        button::after{
            content: "";
            position: absolute;
            z-index: -100;
            top: -8rem;
            left: 0;
            width: 216rem;
            height: 62rem;
            background-color: #82D8D8;
            clip-path: polygon(2% 0%, 98% 0%, 100% 10%, 100% 90%, 98% 100%, 2% 100%, 0% 90%, 0% 10%);
            cursor: pointer;
        }
        button:hover {
            opacity: 0.8;
        }
        @media screen and (max-width: 960px) {
            display: block;
            button {
                margin-top: 20rem;
            }
        }
    }
    .header__left {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (max-width: 960px) {
            margin: 0 auto;
            display: none;
        }            
        img {  
            margin-top: 60rem;         
            width: 100%;
        }
    }
   
}

main{

    .description{
        padding: 216rem 295rem;
        font-family: Bender-bold;
        h1{
            font-size: 44rem;
            color: rgba(2, 169, 123, 1);
        }
        p{
            font-size: 24rem;
        }
        display: flex;
        justify-content: space-around;
        @media screen and (max-width:1400px){
            display: flex;
            padding: 216rem 150rem;
        }
        @media screen and (max-width:600px){
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 216rem 0;
        }
        .description__item {
            width: 20vw;
            display: flex;
            flex-direction: column;
            text-align: center;
            @media screen and (max-width:600px){
                width: 70%;
                padding: 50rem 0;
            }
            .description__item_logo{
                height: 240rem;
                background-color: rgba(240, 248, 250, 1);
                clip-path: polygon(30rem 0%, calc(100% - 30rem) 0%, 100% 30rem, 100% calc(100% - 30rem), 100% 100%, 0 100%, 0% calc(100% - 30rem), 0% 30rem);
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    height: 46%;
                }
            }
            .description__item_text{
                margin-top: 48rem;
                p{
                    margin-top: 24rem;
                    line-height: 40rem;
                }
            }
        }
    }   

    .team {

        background-color: #F0F8FA;
        clip-path: polygon(50rem 0%, calc(100% - 50rem) 0%, 100% 50rem, 100% 100%, calc(100% - 50rem) 100%, 50rem 100%, 0% 100%, 0 50rem);    

        h1{ 
            padding-top: 176rem;
            font-family: Bender-bold;
            font-size: 54rem;
            text-align: center;
            color: rgba(45, 66, 117, 1);
        }

        h2{
            font-family: Bender-bold;
            font-size: 24rem;
            color: rgba(31, 45, 80, 1);
        }

        h3{
            font-family: Bender;
            font-size: 18rem;
            color: rgba(2, 169, 123, 1);
        }

        .team__wrapper{

            display: flex;
            align-items: center;
            flex-direction: column;

            .team__item {
                background-color: white;
                clip-path: polygon(30rem 0%, calc(100% - 30rem) 0%, 100% 0, 100% calc(100% - 30rem), calc(100% - 30rem) 100%, 30rem 100%, 0% calc(100% - 30rem), 0 0); 
                width: 272rem;
                height: 360rem;
                text-align: center;
                margin: 0 20rem;
                h2{
                    text-transform: uppercase;
                }
                img{
                    height: 130rem;
                    margin: 64rem 0 24rem 0;
                    border-radius: 50%;
                }
            }

            .team__wrapper_top {
                display: flex;
                margin-top: 88rem;
                @media screen and (max-width: 400px){
                    display: grid;
                    grid-template-columns: 1fr;
                    .team__item {
                        margin-top: 50rem;
                    }
                }
            }

            .team__wrapper_bottom {
                display: flex;
                justify-content: space-around;
                margin-top: 40rem;
                margin-bottom: 184rem;
                @media screen and (max-width: 860px){
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    .team__item {
                        margin-top: 50rem;
                    }
                }
                @media screen and (max-width: 400px){
                    display: grid;
                    grid-template-columns: 1fr;

                }
            }
        }
    }

    .advisory{

        h1{ 
            padding-top: 176rem;
            font-family: Bender-bold;
            font-size: 54rem;
            text-align: center;
            color: rgba(45, 66, 117, 1);
        }

        h2{
            font-family: Bender-bold;
            font-size: 24rem;
            color: rgba(31, 45, 80, 1);
        }

        h3{
            font-family: Bender;
            font-size: 18rem;
            color: rgba(2, 169, 123, 1);
        }

        .advisory__wrapper{

            padding: 0 296rem;
            margin-top: 86rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-content: center;
            align-items: center;
            padding-bottom: 176rem;

            @media screen and (max-width: 860px){
                grid-template-columns: 1fr 1fr ;
                padding: 0 296rem;  
            }
            
            @media screen and (max-width: 400px){
               display: flex;
               flex-direction: column;
               padding: 0;
            }
            .advisory__item{

                clip-path: polygon(30rem 0%, calc(100% - 30rem) 0%,
                100% 0, 100% calc(100% - 30rem), calc(100% - 30rem) 100%,
                30rem 100%, 0% calc(100% - 30rem), 0 0); 
                width: 277rem;
                height: 365rem;
                text-align: center;
                margin: 20rem 20rem;
                position: relative;
                background-color: #DBE8EB;
                
                img{
                    height: 130rem;
                    margin-top: 64rem;
                    border-radius: 50%;
                }
                h2{
                    text-transform: uppercase;
                    margin-top: 27rem;
                }
                h3{
                    margin-top: 6rem;
                }
            }
            .advisory__item::after, .advisory__item::before {
                content: '';
                position: absolute;
                left: 2rem;
                top: 2rem;
                width: 273rem;
                height: 361rem;
                clip-path: polygon(29rem 0%, calc(100% - 29rem) 0%, 
                100% 0, 100% calc(100% - 29rem), calc(100% - 29rem) 100%,
                29rem 100%, 0% calc(100% - 29rem), 0 0); 
                text-align: center;
                background-color: white;
                z-index: -1;
            }

        }

    }
   
}

footer {
    padding: 131rem 0 0 0;
    @media screen and (max-width:960px){
        padding: 30rem 0 0 0 ;
    }
    background-color: #2D4275;
    clip-path: polygon(40rem 0%, calc(100% - 40rem) 0%, 100% 40rem, 100% 100%, 70% 100%, 30% 100%, 0% 100%, 0 40rem);    
    font-family: Bender;
    font-weight: 400;
    font-size: 18rem;
    line-height: 32rem;
    color: rgba(255, 255, 255, 1);
    a:visited{
        color: rgba(255, 255, 255, 1);
    }
    a{
        color: rgba(255, 255, 255, 1);
    }
    a:hover{
        color: #82D8D8;        
        ;
    }
    li {
        cursor: pointer;
    }
    section {
        padding: 0 296rem ;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width:1200px){
            padding: 0 150rem;
        }
        @media screen and (max-width:960px){
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            text-align: center;
            padding: 0;
            margin: 10rem 0;
            .footer__item1{
                display: none;
            }
            .footer__item3 {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }

    }
    .footer__item1 {
        font-weight: 700;
        img {
            margin-bottom: 42rem;
            margin-top: 8rem;
        }
        p {
            margin-bottom: 18rem;
            font-family: Bender;
            font-size: 18rem;
            font-weight: 700;
        }
    }
    .footer__item{
        font-family: Bender;
        font-size: 18rem;
        h2 {
            text-transform: uppercase;
            font-family: Bender;
            font-style: normal;
            font-weight: bold;
            font-size: 24rem;
            line-height: 40rem;
        }
    }
    .footer__item2 {
        font-weight: 400;
        font-size: 18rem;
        line-height: 32rem;
        h2 {
            margin-bottom: 30rem;
        }
        li {
            margin-bottom: 16rem;
        }

    }
    .footer__item2_1 {
        @media screen and (max-width:960px){
            padding-left: 350rem;
        }    
        @media screen and (max-width:768px){
            padding-left: 200rem;
        } 
        @media screen and (max-width:568px){
            padding-left: 0;
        }     
    }
    .footer__item2_2 {
        @media screen and (max-width:960px){
            padding-right: 350rem;
        }    
        @media screen and (max-width:768px){
            padding-right: 100rem;
        }  
        @media screen and (max-width:568px){
            padding-right: 0;
        }   
    }

    .footer__item3 {
        h2 {
            margin: 0 0 23rem 0 ; 
        }
        .li__socials{
            margin-bottom: 5rem;
        }
        @media screen and (max-width:960px){
            margin-top: 20rem;
        }
        .footer__socials{
            display: flex;
            @media screen and (max-width:960px){
                display: flex;
                justify-content: center;
                text-align: center;
                img {
                    height: 100%;
                }
            }
            @media screen and (max-width:1200px){
                img {
                    height: 19.2px;
                }
            } 
            @media screen and (max-width:960px){
                img {
                    height: 100%;
                }
            }
            
            @media screen and (max-width:360px){
                img {
                    height: 20px;
                }
            } 
   
            li{
                margin-right: 16rem;
                margin-bottom: 0;
                @media screen and (max-width:960px){
                    padding: 0;
                    
                }
    
            }
            margin-bottom: 0;

        }
        @media screen and (max-width:960px){
            .li__grid {
                display: flex;
                justify-content: center;
                margin: 25rem 0 0 0;
                li {
                    margin: 0 25rem;
                }
            }
        }
        li {
            margin-bottom: 16rem;
        }
    }
    .footer__borderline {
        margin: 0 auto;
        margin-top: 95rem;
        @media screen and (max-width:960px){
            margin-top: 40rem;
        }
        width: 80%;
        height: 0.5px;
        border: 0.25px solid  rgba(255, 255, 255, 0.14);;
    }
    .footer__down {
        padding: 0;
        display: block;
        padding: 20rem 0;
        text-align: center;
        @media screen and (max-width:960px){
            margin: 0;
        }
    }
}