*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}
html {
    font-size: 0.8px;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 1em;
}

@media screen and (max-width: 1400px) {
    html {
        font-size: 0.8px;
    }
}
@media screen and (max-width: 1200px) {
    html {
        font-size: 0.6px;
    }
}
@font-face {
    font-family: Bender;
    src: url('../fonts/Jovanny\ Lemonad\ -\ Bender.otf');
}
@font-face {
    font-family: Bender-bold;
    src: url('../fonts/Jovanny\ Lemonad\ -\ Bender-Bold.otf');
}
@font-face {
    font-family: Bender-black;
    src: url('../fonts/Jovanny\ Lemonad\ -\ Bender-Black.otf');
}

nav {
    padding: 0 16%;
    display: flex;
    justify-content: space-between;
    height: 85px;
    align-items: center;
    position: relative;
    color: white;
    background-color: #2D4275;
    @media screen and (max-width: 960px) {
        //clip-path: polygon(80rem 0%, calc(100% - 80rem) 0%, 100% 80rem, 100% calc(100% - 80rem), 100% 100%, 0 100%, 0% calc(100% - 80rem), 0% 80rem);
        height: 65px;
    }
    //clip-path: polygon(80rem 0%, calc(100% - 80rem) 0%, 100% 0, 100% calc(100% - 80rem), calc(100% - 80rem) 100%, 80rem 100%, 0% calc(100% - 80rem), 0 0);    display: flex;   
    a:visited {
        color: white;
    }
    .nav__bar{
        display: none;
    }
   
    @media screen and (max-width: 960px) {
        .nav_links{
            li{
                display: none;
            }
        }
        .nav__bar{
            display: block;
            i{
                display: block;
                font-size: 50rem;
                cursor: pointer;
            }
        }
    }
    
    .nav_links_bar {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 100000;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #82D8D8; 
        height: 100%; 
        @media screen and (min-width: 960px) {
            display: none;
        }
        li{
            padding-top: 40rem;
            display: block;
            text-align: center;
            width: 100%;
            font-size: 40rem;
            padding: 40rem;
            margin-top: 40rem;
        }
        li:hover{
            color: #2D4275;
        }
    }
    .hidden {
        display: none;
        transition: all 0.3s ease-out;
    }
    ul{
        display: flex;

        li{
            margin: 0 25rem ;
            font-family: Bender;
            font-weight: 700;
            font-size: 20rem;
            line-height: 24rem;
            font-style: normal;
            cursor: pointer;
        }
          
        .nav__links_selected{
            color: rgba(2, 169, 123, 1);
            border-bottom: 2px solid rgba(2, 169, 123, 1);          
        }

        li:hover {
            color: #82D8D8;        
            border-bottom: 2px solid #82D8D8;
            margin-bottom: -2px;        
        }
        a:hover {
            color: #82D8D8;        
        }
    }
    .fas {
        //color: rgba(45, 66, 117, 1);
        color:white;
    }
}


header {
    margin-top: -10px;
    padding-bottom: 144rem;
    background-color: #2D4275;
    color: white;
    height: calc(100vh - 55px);
    //clip-path: polygon(40rem 0%, calc(100% - 40rem) 0%, 100% 40rem, 100% 100%, 70% 100%, 30% 100%, 0% 100%, 0 40rem);    
    .Header__Mobile_Pic{
        display: none;
    }
    clip-path: polygon(80rem 0%, calc(100% - 80rem) 0%, 100% 0, 100% calc(100% - 80rem), calc(100% - 80rem) 100%, 80rem 100%, 0% calc(100% - 80rem), 0 0);    display: flex;
    @media screen and (max-width: 1200px){
        padding-top: 65px;
    }
   
    @media screen and (max-width: 960px) {
        padding-top: 0;
        padding-bottom: 0rem;
        display: flex;
        flex-direction: column;
        .Header__Mobile_Pic{
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;         
            @media screen and (max-width: 300px) {
                display: none;
            }
            @media screen and (max-height: 800px){
                display: none;
            }
      }
    }
    .header__right{
        padding-left: 16%;
        width: 50%;
        @media screen and (max-width: 1200px){
            padding-left: 5%;
        }
        @media screen and (max-width: 960px) {
            width: 100%;
            padding: 30rem 7%;
            text-align: center;
        }
        @media screen and (max-width: 300px) {
            flex-grow: 1;
        }
        @media screen and (max-height: 800px){
            padding: 0 5% ;
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            align-items: center;
        }

        h1 {
            margin-top: 124rem;
            font-family: Bender-bold;
            font-weight: bold;
            font-size: 54rem;
            line-height: 72rem;
            color: #82D8D8;        
            @media screen and (max-width: 960px) {
                color: #82D8D8;        
            }
            @media screen and (max-width: 960px) {
                margin-top: 10rem;
            }
        }
        h2 {
            padding-top: 28rem;
            font-family: Bender-bold;
            font-weight: bold;
            font-size: 32rem;
            line-height: 48rem;
        }
        h3 {
            padding-top: 23rem;
            font-family: Bender;
            font-weight: 400;
            font-size: 24rem;
            line-height: 40rem;
        }
    }
    .header__inp {
        padding-top: 37px;
        display: flex;
        align-items: center;
        
        @media screen and (max-width: 500px) {
            padding-top: 10px;
        }
        .header__inp_Box{
            display: inline-block;
            display: none;
            align-self: center;
            position: relative;
            width: 395rem;
            height: 67rem;
            box-sizing: border-box;
            background: #D3EDED;
            clip-path: polygon(2% 0%, 98% 0%, 100% 10%, 100% 90%, 98% 100%, 2% 100%, 0% 90%, 0% 10%);        
            @media screen and (max-width: 960px) {
                display: none;
            }

        }
        input {
            outline: none;
            border: none;
            top: 1rem;
            left: 1rem;
            position: absolute;
            width: 392rem;
            padding-left: 16rem;
            height: 64rem;
            font-family: Bender;
            font-weight: 400;
            font-weight: normal;
            font-size: 24rem;
            line-height: 40rem;
            clip-path: polygon(2% 0%, 98% 0%, 100% 10%, 100% 90%, 98% 100%, 2% 100%, 0% 90%, 0% 10%);        
            @media screen and (max-width: 960px) {
                display: none;
            }
            @media screen and (max-width: 400px) {
                width: 70%;
            }
        }
        
        button { 
            z-index: 1
            ;
            position: relative;
            width: 216rem;
            height: 64rem;
            font-size: 20rem;
            line-height: 34rem;
            font-family: Bender-bold;
            border: none;
            background-color: #82D8D8;
            z-index: 100;
            clip-path: polygon(2% 0%, 98% 0%, 100% 10%, 100% 90%, 98% 100%, 2% 100%, 0% 90%, 0% 10%);
            cursor: pointer;
            a{
                text-decoration: none;
            }
            a:visited{
                color: black;
            }
            @media screen and (max-width: 280px) {
                margin-bottom: 30rem;
            }

        }
        button::after{
            content: "";
            position: absolute;
            z-index: -100;
            top: -8rem;
            left: 0;
            width: 216rem;
            height: 62rem;
            background-color: #82D8D8;
            clip-path: polygon(2% 0%, 98% 0%, 100% 10%, 100% 90%, 98% 100%, 2% 100%, 0% 90%, 0% 10%);
            cursor: pointer;
        }
        button:hover {
            opacity: 0.8;
        }
        @media screen and (max-width: 960px) {
            display: block;
            button {
                margin-top: 20rem;
            }
        }
    }
    .header__left {
        width: 50%;

        @media screen and (max-width: 960px) {
            margin: 0 auto;
            display: none;
        }            
        img {  
            margin-top: 60rem;         
            width: 100%;
        }
    }
   
}

main {
    background: url('../images/lines_main.svg') no-repeat;
    background-size: cover;
    padding-bottom: 200rem;
    @media screen and (max-width:960px){
        background: url('../images/lines_main.svg')  ;
        background-size: contain;
    }
}


.section__credo {
    padding: 0 5%;
    margin: 0 auto;
    color: black;
    font-size: 44rem;
    line-height: 64rem;
    font-family: Bender-bold;
    margin: 100rem 0;
    text-align: center;
    @media screen and (max-width:960px){
        display: block;
        text-align: center;
        margin: 100rem 0 0 0 ;
    }

}



.section__content {
    
    padding:0 296rem;

    display: flex;
    
    
    @media screen and (max-width: 960px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20rem 0;
        img {
            display: none;
        }
    } 
    
    @media screen and (max-width: 560px){
        padding: 20rem 0;
    }

    h2{
        font-size: 44rem;
        line-height: 64rem;
        font-family: Bender-bold;
        color: rgba(2, 169, 123, 1);
    }
    h3 {
        margin-top: 36px;
        font-size: 32rem;
        line-height: 48rem;
        font-family: Bender-bold;
            
    }
    button {
        position: relative;
        margin-top: 52px;
        width: 216rem;
        height: 62rem;
        font-size: 20rem;
        line-height: 34rem;
        font-family: Bender-bold;
        border: none;
        background-color: #82D8D8;
        background: linear-gradient(80.73deg, #ECF6F6 28.72%, #CDEAEA 92.95%);
        z-index: 100;
        clip-path: polygon(2% 0%, 98% 0%, 100% 10%, 100% 90%, 98% 100%, 2% 100%, 0% 90%, 0% 10%);        
        cursor: pointer;
        padding-bottom: 8rem;;
    }
    button::after  {
        content: '';
        position: absolute;
        z-index: -100;
        top: -8rem;
        left: 0;
        width: 216rem;
        height: 62rem;
        background-color: #82D8D8;
        clip-path: polygon(2% 0%, 98% 0%, 100% 10%, 100% 90%, 98% 100%, 2% 100%, 0% 90%, 0% 10%);        
        cursor: pointer;
    }
    button:hover {
        opacity: 0.8;
    }


    
    
    .content__left {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img{
            display: none;
        }
        @media screen and (max-width: 960px) {
            width: 90%;
            margin-top: 30rem;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                display: block;
                width: 90%;
            }
        } 

    }

    .content__right{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (max-width: 960px) {
            width: 80%;
           margin-top: 30rem;
           display: flex;
           justify-content: center;
           align-items: center;
        }            
        img {
            width: 100%;
            @media screen and (max-width: 560px) {
            display: none;
            }
        }
    }

    @media screen and (max-width: 960px) {
        flex-direction: column-reverse;
    }
}

.section__picLeft {
    flex-direction: row-reverse;
    .content__right {
        margin-right: 64rem;
        display: flex;
        justify-content: center;
        @media screen and (max-width:960px){
            margin-left: 0;
        }
    }
    @media screen and (max-width: 960px) {

        flex-direction: column-reverse;
        //background-color: #F0F8FA;

    }
}

.section__picRight {
    .content__right {
        margin-left: 64rem;
        display: flex;
        justify-content: center;
        @media screen and (max-width:960px){
            margin-left: 0;
        }
    }
}

footer {
    padding: 131rem 0 0 0;
    @media screen and (max-width:960px){
        padding: 30rem 0 0 0 ;
    }
    background-color: #2D4275;
    clip-path: polygon(40rem 0%, calc(100% - 40rem) 0%, 100% 40rem, 100% 100%, 70% 100%, 30% 100%, 0% 100%, 0 40rem);    
    font-family: Bender;
    font-weight: 400;
    font-size: 18rem;
    line-height: 32rem;
    color: rgba(255, 255, 255, 1);
    li {
        cursor: pointer;
    }
    section {
        padding: 0 296rem ;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width:1200px){
            padding: 0 150rem;
        }
        @media screen and (max-width:960px){
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            text-align: center;
            padding: 0;
            margin: 10rem 0;
            .footer__item1{
                display: none;
            }
            .footer__item3 {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }

    }
    .footer__item1 {
        font-weight: 700;
        img {
            margin-bottom: 62rem;
        }
        p {
            margin-bottom: 16rem;
            font-family: Bender;
            font-size: 18rem;
            font-weight: 700;
        }
    }
    .footer__item{
        font-family: Bender;
        font-size: 18rem;
        h2 {
            text-transform: uppercase;
            font-family: Bender;
            font-style: normal;
            font-weight: bold;
            font-size: 24rem;
        }
    }
    .footer__item2 {
        font-weight: 400;
        font-size: 18rem;
        line-height: 32rem;
        h2 {
            margin-bottom: 30rem;
        }
        li {
            margin-bottom: 16rem;
        }

    }
    .footer__item2_1 {
        @media screen and (max-width:960px){
            padding-left: 350rem;
        }    
        @media screen and (max-width:768px){
            padding-left: 200rem;
        } 
        @media screen and (max-width:568px){
            padding-left: 0;
        }     
    }
    .footer__item2_2 {
        @media screen and (max-width:960px){
            padding-right: 350rem;
        }    
        @media screen and (max-width:768px){
            padding-right: 100rem;
        }  
        @media screen and (max-width:568px){
            padding-right: 0;
        }   
    }

    .footer__item3 {
        h2 {
            margin: 0 0 23rem 0 ; 
        }
        .li__socials{
            margin-bottom: 5rem;
        }
        @media screen and (max-width:960px){
            margin-top: 20rem;
        }
        .footer__socials{
            display: flex;
            @media screen and (max-width:960px){
                display: flex;
                justify-content: center;
                text-align: center;
                img {
                    height: 100%;
                }
            }
            @media screen and (max-width:1200px){
                img {
                    height: 19.2px;
                }
            } 
            @media screen and (max-width:960px){
                img {
                    height: 100%;
                }
            }
            
            @media screen and (max-width:360px){
                img {
                    height: 20px;
                }
            } 
   
            li{
                margin-right: 16rem;
                margin-bottom: 0;
                @media screen and (max-width:960px){
                    padding: 0;
                    
                }
    
            }
            margin-bottom: 0;

        }
        @media screen and (max-width:960px){
            .li__grid {
                display: flex;
                justify-content: center;
                margin: 25rem 0 0 0;
                li {
                    margin: 0 25rem;
                }
            }
        }
        li {
            margin-bottom: 16rem;
        }
    }
    .footer__borderline {
        margin: 0 auto;
        margin-top: 95rem;
        @media screen and (max-width:960px){
            margin-top: 40rem;
        }
        width: 80%;
        height: 0.5px;
        border: 0.25px solid  rgba(255, 255, 255, 0.14);;
    }
    .footer__down {
        padding: 0;
        display: block;
        padding: 20rem 0;
        text-align: center;
        @media screen and (max-width:960px){
            margin: 0;
        }
    }
}